[AUTOUPDATE]

VERSION=1.0.0

# URL-ul direct și complet către arhiva zip generată de GitHub
ARCHIVEURL=https://github.com/Djovyy/LoxESP32/archive/LoxESP32_plugin.zip


# Informații text despre ce aduce nou această versiune (va apărea în LoxBerry)
INFOURL=Versiunea initiala stabila cu functii de Editare si Jurnal de Erori.
